.description{
    text-align: center;
}

.header-icons {
    padding: 193px 0px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .header-icons {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.skills-left .skill-capacity {
    background: rgb(5, 108, 255)
}

.mobile-contact {
    padding-bottom: 25px;
}
.simple-bar .navbar-custom {
    padding-top: 16px;
}


nav:not(.nav-sticky) .navbar-custom-right {
    padding-top: 39px
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    nav:not(.nav-sticky) .navbar-custom-right {
        padding-top: 0px
    }
}

@media (max-width: 767px){
    .simple-bar .logo {
        bottom: 22px;
        height: 95px;
    }
}


.navbar-custom .logo {
    max-width: 200px;
    max-height: 112px;
}

.simple-bar.nav-sticky .logo{
    max-height: 60px;
}

.footer-contact {
    padding-top: 30px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .footer-contact {
        padding-top: 20px;
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 320px){
    .skill-bars p.lead:last-child {
        margin-bottom: 18px;
    }
}

.social-media-tab {
    padding: 10px 25px 50px 25px;
    text-align: center;
}

footer .social-media-tab {
    padding: 25px 25px 20px 25px;
}

.social-media-tab  .icon-button {
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 4rem;
}


@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
}
